<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>MobiEntrega</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/onsen-css-components.css">
    <link rel="stylesheet" href="css/mobigas.css">

    <script src="cordova.js"></script>
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular/angular-locale_pt-br.js"></script>
	<script src="lib/onsen/js/angular/masks.min.js"></script>
    <script src="lib/onsen/js/angular/ngStorage.min.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-app="app">

    <ons-navigator title="Navigator" var="myNavigator">
        <ons-page ng-controller="AppController">
            <ons-sliding-menu main-page="login.html" menu-page="menu.html" max-slide-distance="200px" swipe-target-width="0px" type="push" var="menu">
            </ons-sliding-menu>
        </ons-page>
    </ons-navigator>

    <ons-template id="login.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                </div>
                <div class="center"></div>

                <div class="right">
                    <ons-toolbar-button ng-click="paginaSobre()">Sobre</ons-toolbar-button>
                </div>
            </ons-toolbar>
            <div class="login-form">
                <div>
                    <img class="logo" src="img/logo_name2.png" />
                </div>
                <input type="string" class="text-input--underbar" placeholder="Usuário" ng-model="login.usuario" value="">
                <input type="password" class="text-input--underbar" placeholder="Senha" ng-model="login.password" value="">
                <br>
                <br>
                <ons-button modifier="large" class="login-button" ng-click="doLogin(login)">Entrar</ons-button>
                <br>
                <!--<div class="vspc form-row">
                    <ons-button modifier="large--cta" ng-click="novoCadastro()">Novo Cadastro</ons-button>
                </div>
                <ons-button modifier="quiet" class="forgot-password">Esqueceu a senha?</ons-button>-->
            </div>

            <ons-modal var="modal1">
                <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
                <br>
                <br>Autenticando
            </ons-modal>

            <ons-modal var="modal2">
                <br>
                <div style="80%">Usuário ou senha inválida.</div>
            </ons-modal>

        </ons-page>
    </ons-template>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page" ng-controller="MenuController">
            <ons-toolbar modifier="transparent" style="width:170px">
                <div class="right">
                    <ons-toolbar-button class="menu-close" ng-click="menu.close()">
                        </ons-icon>Fechar
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-list class="menu-list">

                <!--<ons-list-item class="bottom-menu-item" ng-click="goInicio()">
                    <ons-icon icon="ion-home"></ons-icon>
                    Inicio
                </ons-list-item>-->

                <ons-list-item class="bottom-menu-item" ng-click="goSobre()">
                    <ons-icon icon="ion-information-circled"></ons-icon>
                    Sobre
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="goHistorico()">
                    <ons-icon icon="ion-calendar"></ons-icon>
                    Pedidos
                    <div class="notification menu-notification" style="margin-top: 12px;margin-left: 10px;">{{num_pedidos}}</div>
                </ons-list-item>
                

                <ons-list-item class="bottom-menu-item" ng-click="goConfig()">
                    <ons-icon icon="ion-gear-b"></ons-icon>
                    Configurações
                </ons-list-item>
            </ons-list>
        
            <a onclick="window.open('http://www.criaresys.com/', '_system');"><img src="img/criare.png" class="logo_menu"></a>
        </ons-page>
    </ons-template>

    <ons-template id="sobre.html">
        <ons-page ng-controller="SobreController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="ons.slidingMenu.toggle()" ng-if="acesso_sobre_menu == true">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>

                    <ons-toolbar-button ng-click="onBack()" ng-if="acesso_sobre_menu == false">Voltar</ons-toolbar-button>
                </div>
                <div class="center">Sobre</div>
            </ons-toolbar>

            <div class="profile-card">
                <img class="logo" src="img/logo_name2.png">
                <div class="profile-name">{{nome_fantasia}}</div>
                <div class="profile-desc">{{sobre}}</div>
            </div>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item ng-show="website!=''">
                    <a href="{{website}}" style="text-decoration: none;color: #666;" target="_blank">Website</a>
                </ons-list-item>

                <ons-list-item ng-show="facebook!=''">
                    <a href="{{facebook}}" style="text-decoration: none;color: #666;" target="_blank">Facebook</a>
                </ons-list-item>

                <ons-list-item ng-show="twitter!=''">
                    <a href="{{twitter}}" style="text-decoration: none;color: #666;" target="_blank">Twitter</a>
                </ons-list-item>

            </ons-list>

            <div style="margin-top:40px;margin-bottom:20px;text-align:center;">
                <a onclick="window.open('http://www.criaresys.com/', '_system');"><img src="img/logo_sys.png"/></a>
                <br>
                <br>
                <span style="text-decoration: none;color: #666; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-weight: 400;font-size: 14px;">Versão: {{versao}}</span>
            </div>
            
            <br>

        </ons-page>
    </ons-template>

    <ons-template id="configuracao.html">
        <ons-page ng-controller="ConfigController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="ons.slidingMenu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Configuração</div>
            </ons-toolbar>

            <div class="settings-header">Legalidade</div>
            <ons-list modifier="inset" class="settings-list">
                <ons-list-item modifier="chevron" onclick="window.open('http://www.criaresys.com/mobigas/eula/eula.html', '_system');">
                    Termo de uso
                </ons-list-item>

                <ons-list-item modifier="chevron" onclick="window.open('http://www.criaresys.com/mobigas/eula/politica.html', '_system');">
                    Politica de privacidade
                </ons-list-item>
            </ons-list>

            <br>

            <ons-list modifier="inset" class="settings-list">
                <ons-list-item modifier="tappable" ng-click="doLogout()">
                    <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
                    Desconectar usuário
                </ons-list-item>
            </ons-list>

        </ons-page>
    </ons-template>



    <ons-template id="inicial.html">

        <ons-page ng-controller="InicialController">
            <ons-toolbar modifier="transparent">
                <div class="left">
                    <ons-toolbar-button ng-click="ons.slidingMenu.toggle()">
                        <ons-icon style="color:#fff" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="right">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-gear-a" style="vertical-align: -4px; font-size: 28px; color:#fff" ng-click="doConfig()"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <div class="details-content">

                <div class="card" style="background-image: url(img/botijao.png);">

                    <div class="card-name">Bem Vindo</div>
                    <div class="card-desc">
                        <br>
                        <div style="margin: auto;width: 60%;"><i>Acesse abaixo sua lista de pedidos.</i>
                        </div>
                    </div>

                </div>

                <ons-list style="border-top: none">
                    <ons-list-item style="line-height: 1; padding: 0;">
                        <ons-row class="action">
                            <ons-col class="action-col" ng-click="goProdutos()">
                                <div class="action-icon">
                                    <ons-icon icon="ion-android-storage" style="opacity: 0.4;"></ons-icon>
                                    <div class="notification menu-notification" style="position: absolute; margin-top:-10px;margin-left: -10px;">{{num_pedidos}}</div>
                                </div>
                                <div class="action-label" style="opacity: 0.4;">Lista de Pedidos</div>
                            </ons-col>

                            <ons-col class="action-col" ng-click="goPedido()">
                                <div class="action-icon">
                                    <ons-icon icon="ion-ios7-cart" style="opacity: 0.4;"></ons-icon>
                                </div>
                                <div class="action-label" style="opacity: 0.4;">Registrar Venda</div>
                            </ons-col>

                        </ons-row>
                    </ons-list-item>

                </ons-list>

            </div>

        </ons-page>
    </ons-template>

    <ons-template id="finalizar.html">
        <ons-page ng-controller="FinalizarController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="goCarrinho()">Voltar</ons-toolbar-button>
                </div>
                <div class="center">Pedido</div>
            </ons-toolbar>

            <form>
                <div class="formarea">
                    
                    <div class="form-row">
                            Dados do Cliente:
                        <div class="lucent" ng-repeat="cliente in clientes">
                            <p class="note"><strong>Nome:</strong> {{cliente.nome}}</p>
                            <p class="note"><strong>E-mail:</strong> {{cliente.email}}</p>
                            <p class="note"><strong>CEP:</strong> {{cliente.cep}}</p>
                            <p class="note"><strong>Estado:</strong> {{cliente.cep_estado}}</p>
                            <p class="note"><strong>Municipio:</strong> {{cliente.cep_municipio}}</p>
                            <p class="note"><strong>Bairro:</strong> {{cliente.cep_bairro}}</p>
                            <p class="note"><strong>Endereço:</strong> {{cliente.cep_endereco}}</p>
                            <p class="note"><strong>Numero:</strong> {{cliente.cep_numero}}</p>
                            <p class="note"><strong>Complemento:</strong> {{cliente.cep_comp}}</p>
                            <p class="note" ng-show="cliente.telefone!=''"><strong>Telefone:</strong> <a ng-click="goPhone(cliente.telefone)" href="#">{{cliente.telefone}}</a></p>
                            <p class="note" ng-show="cliente.celular!=''"><strong>Celular:</strong> <a ng-click="goPhone(cliente.celular)" href="#">{{cliente.celular}}</a></p>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        Tipo de pagamento: 
                        <div class="lucent">
                            <p class="note">{{ pagamento }}</p>
                        </div>
                    </div>
                    <div class="form-row" ng-show="troco && troco != 0">
                    <br>
                        Troco: R$ 
                        <div class="lucent" >
                            <p class="note">R$ {{ troco }}</p>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        Produtos:
                        <div class="lucent">
                            <p class="note" ng-repeat="produto in produtos">
                                <strong>{{produto.codigo}} - {{produto.nome}}  / R$ {{produto.preco_praticado}} x{{produto.quantidade}}</strong></br>
                                <span ng-repeat="comp in produto.composto track by $index">
                                    - {{comp}}</br>
                                </span>
                            </p>
                            <p class="note"><strong>Total: R$ {{valor_total}}</strong></p>
                        </div>
                    </div>
                    <div class="vspc form-row" ng-show="pedido.pedido_status_id == 4">
                        <ons-button modifier="large--cta" ng-click="finalizarEntrega(pedido)">Finalizar entrega</ons-button>
                    </div>
                    <div class="vspc form-row" ng-show="pedido.pedido_status_id == 4">
                        <ons-button modifier="large--cta" style="background-color:#e4c652" ng-click="redirecionarEntrega(pedido)">Solicitar Redirecionamento</ons-button>
                    </div>
                    <div class="vspc form-row" ng-show="pedido.pedido_status_id == 3 || pedido.pedido_status_id == 1">
                        <ons-button modifier="large" ng-click="fazerEntrega(pedido)">Fazer a entrega</ons-button>
                    </div>
                    <div class="vspc form-row" ng-show="pedido.pedido_status_id == 3 || pedido.pedido_status_id == 1">
                        <ons-button modifier="large" style="background-color:#ff0000" ng-click="recusarEntrega(pedido)">Recusar a entrega</ons-button>
                    </div>
                    <div class="vspc form-row" ng-show="pedido.pedido_status_id == 4">
                        <ons-button modifier="large--cta" style="background-color:#ff0000" ng-click="naoEncontrado(pedido)">Cliente não encontrado</ons-button>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </form>
            <ons-modal var="modal6">
                <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
                <br>
                <br>Enviando pedido...
            </ons-modal>

            <ons-modal var="modal7">
                <br>
                <div style="80%">{{msg}}</div>
            </ons-modal>
        </ons-page>

    </ons-template>

    <ons-template id="historico.html">
        <ons-page ng-controller="HistoricoController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="ons.slidingMenu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">
                    Pedidos
                </div>
                <div class="right">
                    <ons-toolbar-button>
                        <ons-icon icon="ion-loop" ng-click="doUpdate()"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-list class="plan-list">
                <ons-list-item  modifier="chevron" class="plan" ng-repeat="pedido in pedidos">
                    <ons-row ng-click="goInterna(pedido)">
                        <ons-col width="80px" class="plan-left">
                            <div class="plan-date">{{pedido.data_inicio | moment: 'format': 'HH:mm a'}}</div>
                            <div class="plan-info">Num. {{pedido.id}}</div>
                        </ons-col>

                        <ons-col width="6px" class="plan-center" style="background-color:{{pedido.cor}}">
                        </ons-col>

                        <ons-col class="plan-right">
                            <div class="plan-name">{{pedido.data_inicio | moment: 'format': 'ddd DD/MM/YYYY'}}</div>

                            <div class="plan-info">
                                <div>
                                    <p>Valor: R${{pedido.total_preco}}</p>
                                    <p>Status: {{pedido.descricao}}</p>
                                </div>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
            <ons-modal var="modal_pedidos">
                <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
                <br>
                <br>Carregando pedidos...
            </ons-modal>
        </ons-page>
    </ons-template>
    
    <ons-template id="pedido.html">
        <ons-page ng-controller="PedidoController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="onBack()">Voltar</ons-toolbar-button>
                </div>
                <div class="center">Dados do Cliente</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" ng-model="cadastro.nome" placeholder="Nome" style="width: 100%">
                </ons-list-item>
                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" ng-model="cadastro.telefone" placeholder="Telefone" style="width: 100%">
                </ons-list-item>
                <ons-list-item>
                    <input type="text" class="text-input text-input--transparent" ng-model="cadastro.celular" placeholder="Celular" style="width: 100%">
                </ons-list-item>
            </ons-list>

            <div style="padding: 10px 9px">
                <ons-button modifier="large" style="margin: 0 auto;" ng-click="doEnvio(cadastro)">
                    Continuar
                </ons-button>
            </div>

        </ons-page>
    </ons-template>
    
    
    <ons-template id="produtos.html">
        <ons-page ng-controller="ProdutosController">
            <ons-toolbar>

                
                <div class="left">
                    <ons-toolbar-button ng-click="onBack()">Voltar</ons-toolbar-button>
                </div>

                <div class="center">Produtos</div>
                <div class="right">
                    <ons-toolbar-button ng-click="goCarrinho()">
                        <ons-icon icon="ion-ios7-cart" size="28px" fixed-width="false"></ons-icon>
                        <div class="notification menu-notification" style="margin-top: 12px;margin-left: 10px;">{{num_produtos}}</div>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>


            <ons-list>

                <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="produto in produtos">
                    <ons-row ng-click="doInterna(produto)">
                        <ons-col width="95px">
                            <img ng-src="{{produto.imagem}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <div class="name">
                                {{produto.codigo}} / {{produto.volume}} litros
                            </div>
                            <div class="location">
                                <i>peso:</i> {{produto.peso}} kg
                            </div>
                            <div class="desc">
                                {{produto.descricao}}
                            </div>
                        </ons-col>
                        <ons-col width="40px"></ons-col>
                    </ons-row>
                </ons-list-item>

            </ons-list>

            <ons-modal var="modal5">
                <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
                <br>
                <br>Carregando produtos...
            </ons-modal>
        </ons-page>

    </ons-template>

    <ons-template id="interna.html">

        <ons-page ng-controller="InternaController">
            <ons-toolbar modifier="transparent">
                <div class="right">
                </div>
                <div class="left">
                    <ons-toolbar-button ng-click="onBack()">
                        <ons-icon icon="ion-arrow-left-c" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <div class="details-content">

                <div class="card" style="background-image: url(img/botijao.png);">

                    <div class="card-name">{{produto.nome}}</div>
                    <div class="card-desc">{{produto.codigo}} / {{produto.volume}} litros / {{produto.peso}} kg
                        <br><i>Preço:</i> R$ {{produto.preco}}
                        <br>
                        <br><i>{{produto.descricao}}</i>
                    </div>

                </div>

                <ons-list style="border-top: none">
                    <ons-list-item style="line-height: 1; padding: 0;">
                        <ons-row class="action">

                            <ons-col class="action-col" ng-click="doPedido()">
                                <div class="action-icon">
                                    <ons-icon icon="ion-compose"></ons-icon>
                                </div>
                                <div class="action-label">Adicionar no pedido</div>
                            </ons-col>

                        </ons-row>
                    </ons-list-item>

                </ons-list>

            </div>

        </ons-page>
    </ons-template>
    
    
    <ons-template id="carrinho.html">
        <ons-page ng-controller="CarrinhoController">
            <ons-toolbar>
                
                <div class="left">
                    <ons-toolbar-button ng-click="onBack()">Voltar</ons-toolbar-button>
                </div>
                <div class="center">
                    Carrinho
                </div>
                <div class="right">
                    <ons-toolbar-button ng-click="goPedido()" ng-hide="produtos.length == 0">
                        <ons-icon icon="ion-checkmark-circled" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>

            <ons-list>
                <ons-list-item modifier="" class="list-item-container" ng-repeat="produto in produtos">
                    <ons-row>
                        <ons-col width="95px">
                            <img ng-src="{{produto.imagem}}" class="thumbnail">
                        </ons-col>
                        <ons-col>
                            <div class="name">
                                {{produto.codigo}} / {{produto.volume}} litros
                            </div>
                            <div class="location">
                                {{produto.peso}} kg /  R$ {{produto.preco}}
                            </div>
                            <div class="desc">
                                {{produto.descricao}}
                            </div>
                        </ons-col>
                        <ons-col width="50px">
                            <ons-icon style="font-size:35px;color:#af3838;margin-top: 20px;" icon="ion-close-circled" ng-click="doDelete(produto)"></ons-icon>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>

        </ons-page>
    </ons-template>
    
    
    

    <ons-template id="finalizar_pedido.html">
        <ons-page ng-controller="FinalizarPedidoController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="goCarrinho()">Voltar</ons-toolbar-button>
                </div>
                <div class="center">Pedido</div>
            </ons-toolbar>

            <form>
                <div class="formarea">
                    <div class="form-row">
                        <div class="lucent">
                            Tipo de pagamento:
                        </div>
                        <select ng-model="finalizar.pagamento_id" style="width: 100%;height:20px;">
                            <option ng-repeat="pagamento in pagamentos" value="{{ pagamento.id }}">{{ pagamento.nome }}</option>
                        </select>
                    </div>
                    <br>

                    <div class="form-row">
                        <div class="lucent">
                            Produtos:
                            <br>
                            <p class="note" ng-repeat="produto in produtos">{{produto.nome}} {{produto.codigo}} / {{produto.volume}} litros - R$ {{produto.preco}}</p>
                            <p class="note"><strong>Total: R$ {{valor_total}}</strong></p>
                        </div>
                    </div>
                    
                    <div class="form-row">
                            <br>
                        <div class="lucent">
                            Valor pago pelo cliente: <p class="note"><strong><input s type="text" class="text-input text-input--transparent" ng-model="valor_pago" ng-keyup="calcularTroco()" placeholder="R$" style="width: 100%;border: solid 1px;"></strong></p>
                        </div>
                            <br>
                        <div class="lucent">
                            Troco calculado: <p class="note"><strong>R$ {{troco_calculado}}</strong></p>
                        </div>
                    </div>
                    <div class="vspc form-row">
                        <ons-button modifier="large--cta" ng-click="fimPedido(finalizar)">Registrar Venda</ons-button>
                    </div>
                </div>
            </form>
            <ons-modal var="modal6">
                <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
                <br>
                <br>Enviando pedido...
            </ons-modal>

            <ons-modal var="modal7">
                <br>
                <div style="80%">{{msg}}</div>
            </ons-modal>
        </ons-page>

    </ons-template>

</body>

</html>
