
.logo {

    width: auto;

    height: 135px;

    margin-bottom: 10px;

}

/*
    LOGIN
*/

.login-form {

    text-align: center;

    width: 80%;

    margin: 20px auto 0;

}

input[type=string],
input[type=email],
input[type=password] {

    display: block;

    width: 100%;

    margin: 0 auto;

    outline: none;

    padding-top: 24px;

    padding-bottom: 24px;

}

.login-button {

    width: 100%;

    margin: 0 auto;

}

.forgot-password {

    display: block;

    margin: 8px auto 0 auto;

    font-size: 14px;

}

/*
    PROFILE
*/

.profile-wrapper {

    padding: 16px 10px 0 10px;

}

.profile-image {} .profile-name {

    font-size: 18px;

    padding: 4px 0 2px 0;

}

.profile-email {

    font-size: 15px;

    opacity: 0.4;

}

.switch--list-item {

    margin-right: 0px;

}

.settings-header {

    font-weight: 500;

    font-size: 14px;

    opacity: 0.4;

    padding: 10px 0 0px 10px;

    margin-bottom: -4px;

}

.settings-list {

    margin-top: 10px;

}

.plan-list {

    border-top: none;

    background-image: none !important;

}

.plan {

    line-height: 1;

    padding: 0;

}

.plan-left {

    text-align: right;

    padding: 10px 10px 10px 0;

}

.plan-center {

    background-color: #3399ff;

    opacity: 0.5;

}

.plan-right {

    padding: 10px 40px 10px 10px;

}

.plan-date {

    font-size: 14px;

    opacity: 0.8;

    margin-bottom: 4px;

    font-weight: 500;

}

.plan-duration {

    font-size: 11px;

    opacity: 0.4;

}

.plan-name {

    font-size: 17px;

    margin-bottom: 8px;

}

.list-item-container {

    line-height: 1;

    padding: 15px 0px 15px 15px;

}

.thumbnail {

    width: 80px;

    height: 80px;

    border-radius: 4px;

    -webkit-border-radius: 4px;

}

.name {

    font-weight: 500;

    line-height: 16px;

    font-size: 15px;

    margin-bottom: 6px;

}

.location {

    font-size: 14px;

    opacity: 0.4;

    margin-bottom: 6px;

}

.desc {

    line-height: 1.2;

    font-size: 13px;

}

.profile-card {

    width: 100%;

    text-align: center;

    color: white;

    padding: 30px 0;

    line-height: 1.4;

    background-color: #33393c;

    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;

}

.profile-image {

    height: 100px;

    width: 100px;

    border-radius: 50%;

    -webkit-border-radius: 50%;

    background-color: black;

    border 1px solid white;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;

}

.profile-name {

    margin: 20px 0 0 0;

    font-weight: 600;

    font-size: 17px;

}

.profile-id {

    margin: 0 0 5px 0;

    font-size: 14px;

    opacity: 0.6;

}

.profile-desc {

    font-size: 15px;

    opacity: 0.6;

    width: 90%;

    text-align: center;

    margin: 0 auto;

}

.info-col {

    height: 60px;

    line-height: 1;

    padding: 12px 0 12px 4px;

}

.info-num {

    font-size: 16px;

    font-weight: 500;

    opacity: 0.8;

}

.info-unit {

    margin-top: 6px;

    font-size: 16px;

    opacity: 0.4;

}

.details-content {

    position: absolute;

    left: 0px;

    right: 0px;

    top: 0px;

    bottom: 0px;

}

.card {

    background-color: white;

    background-repeat: no-repeat;

    background-size: cover;

    color: white;

    height: 300px;

}

.card-toolbar ons-back-button span {

    color: white;

}

.card-name {

    font-weight: 600;

    font-size: 30px;

    padding: 66px 0 8px 0;

    text-align: center;

}

.card-desc {

    font-size: 16px;

    font-weight: 400;

    opacity: 0.9;

    text-align: center;

    line-height: 1.4;

}

.rating {

    text-align: center;

    position: relative;

    height: 0px;

}

.rating-num {

    position: relative;

    top: -24px;

    height: 24px;

    color: white;

    line-height: 24px;

    font-size: 12px;

    font-weight: 600;

    text-align: center;

    border-radius: 4px 4px 0 0;

    padding: 0 6px;

    background-color: #eb482f;

    color: white;

    width: auto;

    margin: 0 auto 0 auto;

    display: inline-block;

}

.rating-num ons-icon {

    font-size: 11px;

    vertical-align: -0px;

}

.action-col {

    text-align: center;

    opacity: 1;

    padding: 40px 0 40px;

}

.action-col:active {

    opacity: 0.7;

}

.action-col ons-button {

    padding: 0;

    line-height: 1;

}

.action-icon {

    padding: 0 0 4px 0;

}

.action-icon ons-icon {

    font-size: 30px;

}

.action-label {

    font-size: 16px;

}

.prop-desc {

    font-size: 14px;

    opacity: 0.7;

}

.prop-desc ons-icon {

    font-size: 14px;

    vertical-align: -0px;

    opacity: 0.5;

}



.page--menu-page__content {
  background-color: #333;
  color: white;
}

.menu-close,
.menu-close > .toolbar-button {
  color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
  background-color: transparent;
  background-image: none !important;
  border-color: transparent;
  color: #fff;
}

.menu-item {
  padding: 0 0 0 20px;
  line-height: 52px;
  height: 52px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
  font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
  border-color: #393939;
  background-color: transparent;
  background-image: none !important;
  color: #ccc;
}

.bottom-menu-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}



.form-row {
  margin: 4px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  width: 90%;
  margin: 50px auto 0px auto;
}

input[type=text],
input[type=password] {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

select {
   font-size: 15px;
   border-radius: 0;
   height: 43px !important;
   overflow: hidden;
   background: url(../img/new_arrow.png) no-repeat right #fff;
   border: 1px solid #ccc;
   margin-bottom: 20px;
   -webkit-appearance: none;
}

a .logo_menu {
    width: 50%;
    height: auto;
    position: absolute; 
    top: 90%; 
    left: 5%;
}
